.App {
  background-color: #ffffff;
  color: #282c34;
  padding-bottom: 20px;
}

.App-header {
  background-color: #282c34;
  color: #ffffff;
  height: 60px;
  display: flex;
  justify-content: center;

}

.Header-content {
  width: 960px;
  margin: 0;
  display: flex;
  /* display: inline-block;
  vertical-align: middle; */
  justify-content: space-between;
  align-items: center;
  /* clear: both; */
}

.App-container {
  display: flex;
  justify-content: center;
}

.App-content {
  width: 960px;
  display: flex;
  display: inline-block;
  /* flex-wrap: wrap; */
  /* align-items: flex-start; */
}

.Header-title {
  font-size: 20px;
  margin-left: 10%;
}

.Header-logo {
  width: 100%;
  margin-right: 10%;
  font-size: 30px;
}

.Search {
  margin-left: 10%;
  margin-top: 30px;
  margin-bottom: 30px;
}

label {
  display: block;
  margin-bottom: 8px;
}

.SearchInput {
  padding: 10px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

.SearchButton {
  padding: 10px;
  margin-left: 5px;
  color: #ffffff;
  background-color: #282c34;
  border-style: hidden;
  border-radius: 5px;
}

.SearchButton:hover {
  /* padding: 12px; */
  box-shadow: 0 0 5px #ffa500;
}

.Repositories {
  /* min-width: 100px; */
  margin-left: 10%;
  margin-right: 10%;
  color: #ffffff;
  /* margin-bottom: 20px; */
  /* text-decoration: underline; */
  /* padding: 10px; */
  /* box-shadow: 0 2px 5px #ffffff; */
}

.RepositoriesLink {
  /* color: #737373; */
  text-decoration: none;
}

.RepositoryTitle {
  font-size: 18px;
}

.RepositoryContent {
  margin-left: 10%;
}

ul {
  padding: 0px;
  /* margin: 10%; */
}
li {
  list-style: none;
  margin: 0;
  padding: 5px;
}

.back {
  color: #282c34;
  font-size: 30px;
  margin: 10px 0;
}

.CommitContainer {
  overflow: auto;
  width: 100%;
  clear: both;
  margin-bottom: 10px;
}

.commitText {
  margin: 0 0 5px 5px;
}

.CommitItem {
  float: left;
  margin: 0 0 0 5px;
}