
/* App component */

.App {
  padding-bottom: 20px;
  background-color: #ffffff;
  color: #282c34;
}

.App-container {
  display: flex;
  justify-content: center;
}

.App-content {
  width: 960px;
  display: flex;
  display: inline-block;
}

/* Header component */

.App-header {
  height: 60px;
  display: flex;
  justify-content: center;
  background-color: #282c34;
  color: #ffffff;

}

.Header-content {
  width: 960px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Header-title {
  margin-left: 10%;
  font-size: 20px;
}

.Header-logo {
  margin-right: 10%;
  font-size: 30px;
}

/* Search component */

.Search {
  margin-left: 10%;
  margin-top: 30px;
  margin-bottom: 30px;
}

label {
  display: block;
  margin-bottom: 8px;
}

.Search-input {
  padding: 10px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

.Search-button {
  padding: 10px;
  margin-left: 5px;
  border-style: hidden;
  border-radius: 5px;
  color: #ffffff;
  background-color: #282c34;
}

.Search-button:hover {
  box-shadow: 0 0 5px #ffa500;
}

.Error {
  color: #ff0000;
}

/* Repositories component */

.Repositories {
  margin-left: 10%;
  margin-right: 10%;
}

.Repositories-link {
  text-decoration: none;
}

/* Repository component */

.Repository-title {
  margin-top: 0;
  font-size: 20px;
  font-weight: bold;
}

.Repository-content {
  margin-left: 10%;
  margin-right: 10%;
}

ul {
  padding: 0px
}
li {
  list-style: none;
  margin: 0;
  padding: 5px;
}

.back {
  color: #282c34;
  font-size: 30px;
  margin: 10px 0;
}

.Commit-container {
  overflow: auto;
  clear: both;
  margin-bottom: 20px;
  box-shadow: 0 1px 2px #000000;
  padding: 10px;
}

.commit-text {
  margin: 0 0 5px 5px;
  font-weight: bold;
}

.Commit-item {
  float: left;
  margin: 0 0 0 5px;
}

.Commit-avatar {
  width: 40px;
  height: 40px;
  float: left;
  margin: 0 0 0 5px;
  border-radius: 5px;
  box-shadow: 0 0 2px #000000;
}