.App {
  /* text-align: center; */
  background-color: #3f4450;
  height: 100vh;
  color: #ffffff;
}

.App-header {
  background-color: #282c34;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* font-size: calc(10px + 2vmin); */
}

.Header-title {
  font-size: 20px;
  margin-left: 10%;
}

.Header-logo {
  float: right;
  margin-right: 10%;
  font-size: 30px;
}

.Search {
  margin-left: 10%;
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

.Repositories {
  /* min-width: 100px; */
  margin-left: 10%;
  margin-right: 10%;
  /* margin-bottom: 20px; */
  /* text-decoration: underline; */
  /* padding: 10px; */
  /* box-shadow: 0 2px 5px #ffffff; */
}

ul {
  padding: 0px;
}
li {
  list-style: none;
}

.back {
  color: #ffffff;
  font-size: 30px;
  margin-left: 10%;
  margin-top: 10px;
}